<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.unirate30">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MaterialComponents">
        <activity android:name=".PROFESSOR.Scherer">
        </activity>
        <activity android:name=".PROFESSOR.Nemec">
        </activity>
        <activity android:name=".PROFESSOR.Forjan">
        </activity>
        <activity android:name=".PROFESSOR.Balz">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.mathe2">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.BIODA">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.elek">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.etbio">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.kreko">
        </activity>
        <activity android:name=".PROFESSOR.Vander">
        </activity>
        <activity android:name=".PROFESSOR.Schenk">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.eng2">
        </activity>
        <activity android:name=".PROFESSOR.Windisch">
        </activity>
        <activity android:name=".PROFESSOR.Votzi">
        </activity>
        <activity android:name=".PROFESSOR.Sauer">
        </activity>
        <activity android:name=".PROFESSOR.pasteka">
        </activity>
        <activity android:name=".PROFESSOR.scheiben">
        </activity>
        <activity android:name=".PROFESSOR.dreiner">
        </activity>
        <activity android:name=".PROFESSOR.Praher">
        </activity>
        <activity android:name=".PROFESSOR.Jesen">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.anat2">
        </activity>
        <activity android:name=".PROFESSOR.Eitel">
        </activity>
        <activity android:name=".PROFESSOR.Varvara">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.angchemlab">
        </activity>
        <activity android:name=".PROFESSOR.Teuschel">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER2.angchem">
        </activity>
        <activity android:name=".PROFESSOR.AHub">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.physiklab">
        </activity>
        <activity android:name=".PROFESSOR.maierhofer">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.physik">
        </activity>
        <activity android:name=".PROFESSOR.brabetz">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.koko">
        </activity>
        <activity android:name=".PROFESSOR.patricia">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.eng1">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.progaw1">
        </activity>
        <activity android:name=".PROFESSOR.urbauer">
        </activity>
        <activity android:name=".PROFESSOR.martinek">
        </activity>
        <activity android:name=".PROFESSOR.frohner">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.prog1">
        </activity>
        <activity android:name=".PROFESSOR.reif">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.mathe1">
        </activity>
        <activity android:name=".PROFESSOR.mohl">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.aphys">
        </activity>
        <activity android:name=".PROFESSOR.Huber">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.anat1">
        </activity>
        <activity android:name=".PROFESSOR.Simboeck">
        </activity>
        <activity android:name=".PROFESSOR.Knaack">
        </activity>
        <activity android:name=".PROFESSOR.Machacek">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.allgchemlab">
        </activity>
        <activity android:name=".PROFESSOR.Wiessner">
        </activity>
        <activity android:name=".PROFESSOR.Gepp">
        </activity>
        <activity android:name=".BBEFÄCHER.SEMESTER1.allgchem">
        </activity>
        <activity android:name=".STUDIENRICHTUNG.EaBFach">
        </activity>
        <activity android:name=".STUDIENRICHTUNG.BBEFach">
        </activity>
        <activity android:name=".Degree">
        </activity>
        <activity android:name=".Fachrichtung">
        </activity>
        <activity android:name=".UniRating">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>